.text-section{
    position: relative;

}
.text-input-section {
    max-width: 60vw;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    border: solid 2px gray;
    border-radius: 20px;
    
    p, textarea{
        font-size: 24px;
        letter-spacing: 1.5px;
        font-family: 'Arial', sans-serif;
    }
    textarea{
        width: 100%;
        font-size: 24px;
        border: none;
        outline: none;
        resize: none;
        caret-color: black;
        background-color: transparent;
        min-height: auto;
        height: auto;
        overflow: hidden;
    }
}

.correct{
    color: rgb(20, 220, 20);
}

.text-input-chars{
    position: absolute;
    top: -22px;
    left: 2px;
}
.resume-button {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffb300;
    border: 2px solid orangered;
    box-shadow: 2px 2px 3px gray;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    &:hover{
        background-color: rgb(255, 115, 0);
    }
}

.timer{
    font-size: 24px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 6px;

}
