header {
    margin: 0 auto;
    width: fit-content;
    margin-top: 15vh;
    text-align: center;

    h3{
        margin: 0;
        font-size: 50px;
        font-weight: bold;
    }

    p{
        padding: 0;
        font-size: 24px;
    }
}